<div class="main3" id="d">
    <div class="shi">
        <img height="400px" class="shi1" src="/Images/book-3.png" alt="">
        <img height="400px" class="shi2" src="/Images/book-7.png" alt="">
    </div>
    <div class="info">
        <div class="info1">
            <h2>Upto 50% Discount</h2>
            <p>Take advantage of the discount days we have for you,buy<br>books from your favourite
                writers,the more you buy the more discounts we have for you.</p>
        </div>
        <a href="#"><button class="exp">Shop Now</button></a>
    </div>

</div>