<div class="main2" id="f">
    <h1>Featured Books</h1>
    <div class="view">
        <div class="view1">
            <div class="i">
                <img height="200px" src="/Images/book-3.png" alt="">
            </div>
            <div class="data">
                <h2>Featured Book</h2>
                <div class="d1">
                    <span class="ida">$99</span>
                    <span class="ida1">$100</span>
                </div>
            </div>
            <a href="#"><button class="exp cart">Add to Cart</button></a>
        </div>
        <div class="view1">
            <div class="i">
                <img height="200px" src="/Images/book-7.png" alt="">
            </div>
            <div class="data">
                <h2>Featured Book</h2>
                <div class="d1">
                    <span class="ida">$99</span>
                    <span class="ida1">$100</span>
                </div>
            </div>
            <a href="#"><button class="exp cart">Add to Cart</button></a>

        </div>
        <div class="view1">
            <div class="i">
                <img height="200px" src="Images/book-1.png" alt="">
            </div>
            <div class="data">
                <h2>Featured Book</h2>
                <div class="d1">
                    <span class="ida">$99</span>
                    <span class="ida1">$100</span>
                </div>
            </div>
            <a href="#"><button class="exp cart">Add to Cart</button></a>
        </div>
        <div class="view1">
            <div class="i">
                <img height="200px" src="/Images/book-9.png" alt="">
            </div>
            <div class="data">
                <h2>Featured Book</h2>
                <div class="d1">
                    <span class="ida">$99</span>
                    <span class="ida1">$100</span>
                </div>
            </div>
            <a href="#"><button class="exp cart">Add to Cart</button></a>
        </div>
        <div class="view1">
            <div class="i">
                <img height="200px" src="/Images/book-2.png" alt="">
            </div>
            <div class="data">
                <h2>Featured Book</h2>
                <div class="d1">
                    <span class="ida">$99</span>
                    <span class="ida1">$100</span>
                </div>
            </div>
            <a href="#"><button class="exp cart">Add to Cart</button></a>
        </div>
        <div class="view1">
            <div class="i">
                <img height="200px" src="/Images/book-6.png" alt="">
            </div>
            <div class="data">
                <h2>Featured Book</h2>
                <div class="d1">
                    <span class="ida">$99</span>
                    <span class="ida1">$100</span>
                </div>
            </div>
            <a href="#"><button class="exp cart">Add to Cart</button></a>
        </div>
    </div>

</div>