<div class="co main4" id="t">
    <h1>Customer's Opinions</h1>
    <div class="co1 show">
        <div class="tm">
            <img class="tm1" src="/Images/tm1.png" alt="">
            <h2>Riaz Loz</h2>
            <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                discounts"
            </p>
            <div class="star">
                <img height="22px" src="/Images/star.png" alt="">
                <img height="22px" src="/Images/star.png" alt="">
                <img height="22px" src="/Images/star.png" alt="">
                <img height="22px" src="/Images/star.png" alt="">
                <img height="22px" src="/Images/star1.png" alt="">
            </div>
        </div>
        <div class="tm">
            <img class="tm1" src="/Images/tm2.png" alt="">
            <h2>Riaz Loz</h2>
            <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                discounts"
            </p>
            <div class="star">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star1.png" alt="">
            </div>
        </div>
        <div class="tm">
            <img class="tm1" src="Images/tm3.png" alt="">
            <h2>Riaz Loz</h2>
            <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                discounts"
            </p>
            <div class="star">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star1.png" alt="">
            </div>
        </div>

        <div class="tm">
            <img class="tm1" src="Images/tm4.png" alt="">
            <h2>Riaz Loz</h2>
            <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                discounts"
            </p>
            <div class="star">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star.png" alt="">
                <img height="22px" src="Images/star1.png" alt="">
            </div>
        </div>

    </div>


</div>