<div class="end" id="e">
    <div class="box">
        <h3>BOOKIFY!</h3>
        <p>Find and Explore the best <br>eBooks from all your favourite writers</p>
    </div>
    <div class="box1">
        <div class="f1">
            <h3>About</h3>
            <div class="t1">
                <span class="txt">Awards</span>
                <span class="txt">FAQs</span>
                <span class="txt">Privacy Policy</span>
                <span class="txt">Terms of Services</span>
            </div>
        </div>
        <div class="f1">
            <h3>Company</h3>
            <div class="t1">
                <span class="txt">Blogs</span>
                <span class="txt">Community</span>
                <span class="txt">Our Team</span>
                <span class="txt">Help Center</span>
            </div>
        </div>
        <div class="f1">
            <h3>Contacts</h3>
            <div class="t1">
                <span class="txt">Pune,Maharashtra</span>
                <span class="txt">e-books@gmail.com <br>0987-236-653</span>
            </div>
        </div>
        <div class="f1">
            <h3>Social</h3>
            <div class="t2">
                <a href="#"><img class="f2i" src="/Images/fb.png" alt=""></a>
                <a href="#"><img class="f2i" src="/Images/ig.png" alt=""></a>
                <a href="#"><img class="f2i" src="/Images/x.png" alt=""></a>
            </div>
        </div>

    </div>

</div>
<div class="end1">
    <span class="et">&#169 All Rights are Reserved</span>
</div>