<div class="main1">
    <div class="heading">
        <span class="h1">Browse & <br> Select E-Books</span>
        <span class="h2">Find the best e-books from your favourite writers,<br>explore 100 of books with
            all
            posssible categories,<br>take advantage of the 50% discount and much more</span>
        <button class="exp">Explore Now</button>
    </div>
    <div class="bk">
        <div class="book">
            <img height="400px" src="/Images/book-1.png" alt="">
        </div>
        <div class="book">
            <img height="400px" src="/Images/book-3.png" alt="">
        </div>
        <div class="book">
            <img height="400px" src="/Images/book-7.png" alt="">
        </div>
        <div class="book">
            <img height="400px" src="/Images/book-9.png" alt="">
        </div>
        <div class="book">
            <img height="400px" src="/Images/book-2.png" alt="">
        </div>
        <div class="book">
            <img height="400px" src="/Images/book-4.png" alt="">
        </div>
        <div class="book">
            <img height="400px" src="/Images/book-5.png" alt="">
        </div>
        <div class="book">
            <img height="400px" src="/Images/book-6.png" alt="">
        </div>
    </div>
</div>
<div class="func">
    <div class="func1">
        <img height="70px" src="/Images/shipp.png" alt="">
        <span>Free Shipping</span>
    </div>
    <div class="func1">
        <img height="70px" src="/Images/secure.png" alt="">
        <span>Privacy</span>
    </div>
    <div class="func1">
        <img height="70px" src="/Images/support.png" alt="">
        <span>24*7 Support</span>
    </div>
</div>