<div class="nav">
    <h3 class="he">BOOKIFY!</h3>
    </span>
    <div class="menu">
        <div class="menu1">
            <a href="#h"><img height="20px" class="sv" src="/Images/home.svg" alt=""></a>
            <span>Home</span>
        </div>
        <div class="menu1">
            <a href="#f"><img height="20px" src="/Images/fea.png" alt=""></a>
            <span>Featured</span>
        </div>
        <div class="menu1">
            <a href="#d"><img height="20px" src="/Images/dis.png" alt=""></a>
            <span>Discount</span>
        </div>
        <div class="menu1">
            <a href="#n"><img height="20px" src="/Images/books.png" alt=""></a>
            <span>New Books</span>
        </div>
        <div class="menu1">
            <a href="#t"><img height="20px" src="/Images/test.png" alt=""></a>
            <span>Testimonials</span>
        </div>
    </div>
    <div class="navi">

        <span><img class="n-icon icon1" height="21px" src="/Images/acc.png" alt=""></span>
        <span><img class="n-icon icon2" height="21px" src="/Images/cart.png" alt=""></span>
        <span><img class="n-icon icon3" height="21px" src="/Images/search.png" alt=""></span>
    </div>
    <div class="line-b"></div>
</div>