<div class="main4" id="n">
    <h1>New Books</h1>
    <div class="show">
        <div class="showi">
            <div class="i1">
                <img height="200px" src="/Images/book-2.png" alt="">
            </div>
            <div class="i1d">
                <h2>New Book</h2>
                <div class="d1">
                    <span class="ida">$7.99</span>
                    <span class="ida1">$14.99</span>
                </div>
                <div class="star">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star1.png" alt="">
                </div>
            </div>
        </div>
        <div class="showi">
            <div class="i1">
                <img height="200px" src="Images/book-7.png" alt="">
            </div>
            <div class="i1d">
                <h2>New Book</h2>
                <div class="d1">
                    <span class="ida">$7.99</span>
                    <span class="ida1">$14.99</span>
                </div>
                <div class="star">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star1.png" alt="">
                </div>
            </div>
        </div>
        <div class="showi">
            <div class="i1">
                <img height="200px" src="Images/book-5.png" alt="">
            </div>
            <div class="i1d">
                <h2>New Book</h2>
                <div class="d1">
                    <span class="ida">$7.99</span>
                    <span class="ida1">$14.99</span>
                </div>
                <div class="star">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star.png" alt="">
                    <img height="22px" src="Images/star1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="show">
        <div class="showi">
            <div class="i1">
                <img height="200px" src="/Images/book-1.png" alt="">
            </div>
            <div class="i1d">
                <h2>New Book</h2>
                <div class="d1">
                    <span class="ida">$7.99</span>
                    <span class="ida1">$14.99</span>
                </div>
                <div class="star">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star1.png" alt="">
                </div>
            </div>
        </div>
        <div class="showi">
            <div class="i1">
                <img height="200px" src="/Images/book-3.png" alt="">
            </div>
            <div class="i1d">
                <h2>New Book</h2>
                <div class="d1">
                    <span class="ida">$7.99</span>
                    <span class="ida1">$14.99</span>
                </div>
                <div class="star">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star1.png" alt="">
                </div>
            </div>
        </div>
        <div class="showi">
            <div class="i1">
                <img height="200px" src="/Images/book-9.png" alt="">
            </div>
            <div class="i1d">
                <h2>New Book</h2>
                <div class="d1">
                    <span class="ida">$7.99</span>
                    <span class="ida1">$14.99</span>
                </div>
                <div class="star">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star.png" alt="">
                    <img height="22px" src="/Images/star1.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>