<div class="foot">
    <h1>Subscribe To Receive<br>The Latest Updates!</h1>
    <div class="cont">
        <input type="email" placeholder="Enter Your Email">
        <a href="#"><button class="exp btn">Subscribe!</button></a>
    </div>
</div>