<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookify</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/Images/bo.png">
</head>
<body>
    <div class="scroll">
        <div class="wh" id="h">
            <div class="nav">
                <h3 class="he">BOOKIFY!</h3>
                </span>
                <div class="menu">
                    <div class="menu1">
                        <a href="#h"><img height="20px" class="sv" src="/Images/home.svg" alt=""></a>
                        <span>Home</span>
                    </div>
                    <div class="menu1">
                        <a href="#f"><img height="20px" src="/Images/fea.png" alt=""></a>
                        <span>Featured</span>
                    </div>
                    <div class="menu1">
                        <a href="#d"><img height="20px" src="/Images/dis.png" alt=""></a>
                        <span>Discount</span>
                    </div>
                    <div class="menu1">
                        <a href="#n"><img height="20px" src="/Images/books.png" alt=""></a>
                        <span>New Books</span>
                    </div>
                    <div class="menu1">
                        <a href="#t"><img height="20px" src="/Images/test.png" alt=""></a>
                        <span>Testimonials</span>
                    </div>
                </div>
                <div class="navi">
                    
                    <span><img class="n-icon icon1" height="21px" src="/Images/acc.png" alt=""></span>
                    <span><img class="n-icon icon2" height="21px" src="/Images/cart.png" alt=""></span>
                    <span><img class="n-icon icon3" height="21px" src="/Images/search.png" alt=""></span>
                </div>
                <div class="line-b"></div>
            </div>
            <div class="main">
                <div class="main1">
                    <div class="heading">
                        <span class="h1">Browse & <br> Select E-Books</span>
                        <span class="h2">Find the best e-books from your favourite writers,<br>explore 100 of books with
                            all
                            posssible categories,<br>take advantage of the 50% discount and much more</span>
                        <button class="exp">Explore Now</button>
                    </div>
                    <div class="bk">
                        <div class="book">
                            <img height="400px" src="/Images/book-1.png" alt="">
                        </div>
                        <div class="book">
                            <img height="400px" src="/Images/book-3.png" alt="">
                        </div>
                        <div class="book">
                            <img height="400px" src="/Images/book-7.png" alt="">
                        </div>
                        <div class="book">
                            <img height="400px" src="/Images/book-9.png" alt="">
                        </div>
                        <div class="book">
                            <img height="400px" src="/Images/book-2.png" alt="">
                        </div>
                        <div class="book">
                            <img height="400px" src="/Images/book-4.png" alt="">
                        </div>
                        <div class="book">
                            <img height="400px" src="/Images/book-5.png" alt="">
                        </div>
                        <div class="book">
                            <img height="400px" src="/Images/book-6.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="func">
                    <div class="func1">
                        <img height="70px" src="/Images/shipp.png" alt="">
                        <span>Free Shipping</span>
                    </div>
                    <div class="func1">
                        <img height="70px" src="/Images/secure.png" alt="">
                        <span>Privacy</span>
                    </div>
                    <div class="func1">
                        <img height="70px" src="/Images/support.png" alt="">
                        <span>24*7 Support</span>
                    </div>

                </div>
                <div class="main2" id="f">
                    <h1>Featured Books</h1>
                    <div class="view">
                        <div class="view1">
                            <div class="i">
                                <img height="200px" src="/Images/book-3.png" alt="">
                            </div>
                            <div class="data">
                                <h2>Featured Book</h2>
                                <div class="d1">
                                    <span class="ida">$99</span>
                                    <span class="ida1">$100</span>
                                </div>
                            </div>
                            <a href="#"><button class="exp cart">Add to Cart</button></a>
                        </div>
                        <div class="view1">
                            <div class="i">
                                <img height="200px" src="/Images/book-7.png" alt="">
                            </div>
                            <div class="data">
                                <h2>Featured Book</h2>
                                <div class="d1">
                                    <span class="ida">$99</span>
                                    <span class="ida1">$100</span>
                                </div>
                            </div>
                            <a href="#"><button class="exp cart">Add to Cart</button></a>

                        </div>
                        <div class="view1">
                            <div class="i">
                                <img height="200px" src="Images/book-1.png" alt="">
                            </div>
                            <div class="data">
                                <h2>Featured Book</h2>
                                <div class="d1">
                                    <span class="ida">$99</span>
                                    <span class="ida1">$100</span>
                                </div>
                            </div>
                            <a href="#"><button class="exp cart">Add to Cart</button></a>
                        </div>
                        <div class="view1">
                            <div class="i">
                                <img height="200px" src="/Images/book-9.png" alt="">
                            </div>
                            <div class="data">
                                <h2>Featured Book</h2>
                                <div class="d1">
                                    <span class="ida">$99</span>
                                    <span class="ida1">$100</span>
                                </div>
                            </div>
                            <a href="#"><button class="exp cart">Add to Cart</button></a>
                        </div>
                        <div class="view1">
                            <div class="i">
                                <img height="200px" src="/Images/book-2.png" alt="">
                            </div>
                            <div class="data">
                                <h2>Featured Book</h2>
                                <div class="d1">
                                    <span class="ida">$99</span>
                                    <span class="ida1">$100</span>
                                </div>
                            </div>
                            <a href="#"><button class="exp cart">Add to Cart</button></a>
                        </div>
                        <div class="view1">
                            <div class="i">
                                <img height="200px" src="/Images/book-6.png" alt="">
                            </div>
                            <div class="data">
                                <h2>Featured Book</h2>
                                <div class="d1">
                                    <span class="ida">$99</span>
                                    <span class="ida1">$100</span>
                                </div>
                            </div>
                            <a href="#"><button class="exp cart">Add to Cart</button></a>
                        </div>
                    </div>

                </div>
                <div class="main3" id="d">
                    <div class="shi">
                        <img height="400px" class="shi1" src="/Images/book-3.png" alt="">
                        <img height="400px" class="shi2" src="/Images/book-7.png" alt="">
                    </div>
                    <div class="info">
                        <div class="info1">
                            <h2>Upto 50% Discount</h2>
                            <p>Take advantage of the discount days we have for you,buy<br>books from your favourite
                                writers,the more you buy the more discounts we have for you.</p>
                        </div>
                        <a href="#"><button class="exp">Shop Now</button></a>
                    </div>

                </div>
                <div class="main4" id="n">
                    <h1>New Books</h1>
                    <div class="show">
                        <div class="showi">
                            <div class="i1">
                                <img height="200px" src="/Images/book-2.png" alt="">
                            </div>
                            <div class="i1d">
                                <h2>New Book</h2>
                                <div class="d1">
                                    <span class="ida">$7.99</span>
                                    <span class="ida1">$14.99</span>
                                </div>
                                <div class="star">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="showi">
                            <div class="i1">
                                <img height="200px" src="Images/book-7.png" alt="">
                            </div>
                            <div class="i1d">
                                <h2>New Book</h2>
                                <div class="d1">
                                    <span class="ida">$7.99</span>
                                    <span class="ida1">$14.99</span>
                                </div>
                                <div class="star">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="showi">
                            <div class="i1">
                                <img height="200px" src="Images/book-5.png" alt="">
                            </div>
                            <div class="i1d">
                                <h2>New Book</h2>
                                <div class="d1">
                                    <span class="ida">$7.99</span>
                                    <span class="ida1">$14.99</span>
                                </div>
                                <div class="star">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star.png" alt="">
                                    <img height="22px" src="Images/star1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show">
                        <div class="showi">
                            <div class="i1">
                                <img height="200px" src="/Images/book-1.png" alt="">
                            </div>
                            <div class="i1d">
                                <h2>New Book</h2>
                                <div class="d1">
                                    <span class="ida">$7.99</span>
                                    <span class="ida1">$14.99</span>
                                </div>
                                <div class="star">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="showi">
                            <div class="i1">
                                <img height="200px" src="/Images/book-3.png" alt="">
                            </div>
                            <div class="i1d">
                                <h2>New Book</h2>
                                <div class="d1">
                                    <span class="ida">$7.99</span>
                                    <span class="ida1">$14.99</span>
                                </div>
                                <div class="star">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="showi">
                            <div class="i1">
                                <img height="200px" src="/Images/book-9.png" alt="">
                            </div>
                            <div class="i1d">
                                <h2>New Book</h2>
                                <div class="d1">
                                    <span class="ida">$7.99</span>
                                    <span class="ida1">$14.99</span>
                                </div>
                                <div class="star">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star.png" alt="">
                                    <img height="22px" src="/Images/star1.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="foot">
                <h1>Subscribe To Receive<br>The Latest Updates!</h1>
                <div class="cont">
                    <input type="email" placeholder="Enter Your Email">
                    <a href="#"><button class="exp btn">Subscribe!</button></a>
                </div>
            </div>
            <div class="co main4" id="t">
                <h1>Customer's Opinions</h1>
                <div class="co1 show">
                    <div class="tm">
                        <img class="tm1" src="/Images/tm1.png" alt="">
                        <h2>Riaz Loz</h2>
                        <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                            discounts"
                        </p>
                        <div class="star">
                            <img height="22px" src="/Images/star.png" alt="">
                            <img height="22px" src="/Images/star.png" alt="">
                            <img height="22px" src="/Images/star.png" alt="">
                            <img height="22px" src="/Images/star.png" alt="">
                            <img height="22px" src="/Images/star1.png" alt="">
                        </div>
                    </div>
                    <div class="tm">
                        <img class="tm1" src="/Images/tm2.png" alt="">
                        <h2>Riaz Loz</h2>
                        <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                            discounts"
                        </p>
                        <div class="star">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star1.png" alt="">
                        </div>
                    </div>
                    <div class="tm">
                        <img class="tm1" src="Images/tm3.png" alt="">
                        <h2>Riaz Loz</h2>
                        <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                            discounts"
                        </p>
                        <div class="star">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star1.png" alt="">
                        </div>
                    </div>

                    <div class="tm">
                        <img class="tm1" src="Images/tm4.png" alt="">
                        <h2>Riaz Loz</h2>
                        <p>"The Best Website to Buy Books,the <br> purchase is very easy to make and has <br>great
                            discounts"
                        </p>
                        <div class="star">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star.png" alt="">
                            <img height="22px" src="Images/star1.png" alt="">
                        </div>
                    </div>

                </div>


            </div>
            <div class="end" id="e">
                <div class="box">
                    <h3>BOOKIFY!</h3>
                    <p>Find and Explore the best <br>eBooks from all your favourite writers</p>
                </div>
                <div class="box1">
                    <div class="f1">
                        <h3>About</h3>
                        <div class="t1">
                            <span class="txt">Awards</span>
                            <span class="txt">FAQs</span>
                            <span class="txt">Privacy Policy</span>
                            <span class="txt">Terms of Services</span>
                        </div>
                    </div>
                    <div class="f1">
                        <h3>Company</h3>
                        <div class="t1">
                            <span class="txt">Blogs</span>
                            <span class="txt">Community</span>
                            <span class="txt">Our Team</span>
                            <span class="txt">Help Center</span>
                        </div>
                    </div>
                    <div class="f1">
                        <h3>Contacts</h3>
                        <div class="t1">
                            <span class="txt">Pune,Maharashtra</span>
                            <span class="txt">e-books@gmail.com <br>0987-236-653</span>
                        </div>
                    </div>
                    <div class="f1">
                        <h3>Social</h3>
                        <div class="t2">
                            <a href="#"><img class="f2i" src="/Images/fb.png" alt=""></a>
                            <a href="#"><img class="f2i" src="/Images/ig.png" alt=""></a>
                            <a href="#"><img class="f2i" src="/Images/x.png" alt=""></a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="end1">
                <span class="et">&#169 All Rights are Reserved</span>
            </div>
            <div class="n log">
                <img height="20px" class="close" src="/Images/close.png" alt="">
                <div class="login">
                    <!-- <h1>Login</h1> -->
                    <div class="lg1">
                        <div class="lg2">
                            <div>Enter Name:</div>
                            <input class="lin" type="text" placeholder="Enter Name">
                        </div>
                        <div class="lg2">
                            <div>Password:</div>
                            <input class="lin" type="password" placeholder="Password">
                        </div>
                    </div>
                    <a href="#"><button class="exp">Log In</button></a>
                </div>

            </div>
            <div class="n" id="s1">
                <img height="20px" class="close close1" src="/Images/close.png" alt="">
                <div class="search">
                    <img height="25px" class="sea1" src="/Images/search.png" alt="">
                    <input class="lin" type="text" placeholder="What Are You Looking For?">

                </div>
            </div>
            <a href="#" class="srl">
                <img height="20px" src="Images/arr.png" alt="">
            </a>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="gsap.js"></script>
    <script src="/script.js"></script>
</body>

</html>