<div class="n log">
    <img height="20px" class="close" src="/Images/close.png" alt="">
    <div class="login">
        <!-- <h1>Login</h1> -->
        <div class="lg1">
            <div class="lg2">
                <div>Enter Name:</div>
                <input class="lin" type="text" placeholder="Enter Name">
            </div>
            <div class="lg2">
                <div>Password:</div>
                <input class="lin" type="password" placeholder="Password">
            </div>
        </div>
        <a href="#"><button class="exp">Log In</button></a>
    </div>
</div>