<div class="n" id="s1">
    <img height="20px" class="close close1" src="/Images/close.png" alt="">
    <div class="search">
        <img height="25px" class="sea1" src="/Images/search.png" alt="">
        <input class="lin" type="text" placeholder="What Are You Looking For?">
    </div>
</div>